source .secret

export GLOBAL_LOG_LEVEL="DEBUG"
export REDIS_URL="redis://localhost:6379/0"

export ENABLE_OLLAMA_API="false"
export ENABLE_OPENAI_API="true"
export ENABLE_CODE_EXECUTION="false"
export ENABLE_AUTOCOMPLETE_GENERATION="false"
export ENABLE_EVALUATION_ARENA_MODELS="false"
export ENABLE_TAGS_GENERATION="false"

export ENABLE_WEBSOCKET_SUPPORT="false"

export OPENAI_API_BASE_URLS="${ALBERT_OPENAI_API_URL}"
export OPENAI_API_KEY="${ALBERT_OPENAI_API_KEY}"

export REDIS_HOST=localhost
export REDIS_PORT=6379
export REDIS_PASSWORD=""

# docker-compose environment variables
export PROJECT_NAME="openwebui_backend"
export INSTANCE_ID=$(pwd | shasum -a 1 | awk '{print $1}' | cut -c 1-12) # Used to define docker volume path
export COMPOSE_PROJECT_NAME=${PROJECT_NAME}_${INSTANCE_ID}
